<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Tutorials</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>



    <div id="vue-app">
  <!-- <h1> Computed Properties </h1>
  <button type="button" name="button" v-on:click="a++">Add to A </button>
  <button type="button" name="button" v-on:click="b++">Add to B </button>
  <p>A - {{a}} </p>
  <p>B - {{b}} </p>

  <p>Age + A = {{AddToA}}</p>
  <p>Age + B = {{AddToB}}</p>

  <<p>Age + A = {{AddToA()}}</p>
  <p>Age + B = {{AddToB()}}</p> -->



  </div>
  <!-- this is before computed because in computed we don't need any parantheses -->


  <!-- code 7 -->
  <!-- <h1>Components</h1>

   <div id="vue-app-one">
     <h2>Vue app one</h2>
     <greeting></greeting>

   </div>

   <div id="vue-app-two">
     <h2>Vue app two</h2>
     <greeting></greeting>
   </div> -->
   <script src="app.js"></script>





   <!-- Code 6 -->
   <!-- <div id="vue-app"> -->
<!-- <h1>Multiple Vue Instance</h1>
<div id="vue-app-one">
  <h2>{{title}}</h2>
  <p>{{greet}}</p>
</div>
<div id="vue-app-two">
  <h2>{{title}}</h2>
  <p>{{greet}}</p>
  <button type="button" name="button" v-on:click="changeTitle">Change App One Title</button>
</div> -->




   <!-- Code 5 -->
   <!-- <ul>
     <li v-for="character in characters">{{character}}</li>
   </ul>
   <ul>
     <li v-for="(character, index) in characters">{{index}}.{{character}}</li>
   </ul>
   <ul>
     <li v-for="name in names">Name: {{name.name}}, Age:{{name.age}}</li>
   </ul>
   <ul>
     <li v-for="(name, index) in names">{{index}} Name: {{name.name}}, Age:{{name.age}}</li>
   </ul> -->




   <!-- Code 4 -->
   <!-- bag image -->
 <!-- <div id="bag" v-bind:class="{burst: ended}">
 </div> -->
 <!-- bag health -->
 <!-- <div id="bag-health">
   <div v-bind:style="{width: health + '%'}">
   </div>
 </div> -->
  <!-- game control -->
  <!-- <div id="controls">
    <button v-on:click="punch" v-show="!ended" type="button" name="button">Punch</button>
    <button v-on:click="restart" type="button" name="button">Restart</button>
  </div> -->




    <!-- Code 3 -->
    <!-- <label for="">Enter Your name</label>
    <br>
    <input type="text" name="name" value="" v-model="name">
    <br>
    <label for="">Enter Your Age</label>
    <br>
    <input type="text" name="age" value="" v-model="age">
    <br><br>
    <h1>NAme is: {{name}}</h1>
    <h1>Age is : {{age }}</h1> -->




    <!-- Code 2 -->
    <!-- <button type="button" name="button" v-on:click="addage(1)">Add Age</button>
    <button type="button" name="button" v-on:click="remage(1)">Substract Age</button>
    <br><br>
    <button type="button" name="button" v-on:dblClick="aget(10)">Add Age + 10 double click</button>
    <button type="button" name="button" v-on:dblclick="agem(10)">Substract Age - 10 double click</button>
    <h1>Age is: {{age}}</h1> -->


    <!-- <button @click="add(1)" type="button" name="button">Add A Year</button> -->
    <!-- <button v-on:click.once="add(1)" type="button" name="button">Add A Year</button>
    <button v-on:click="substract(1)" type="button" name="button">Substract A Year</button>
    <button v-on:dblclick="add(10)" type="button" name="button">Add A Year</button>
    <! <button @dblclick="add(10)" type="button" name="button">Add A Year</button> -->
    <!-- <button v-on:dblclick="substract(10)" type="button" name="button">Substract A Year</button>
    <p>My Age is : {{age}}</p>






    <!-- Code 1 -->
    <!-- <!-- <h1>{{name}}</h1> -->

    <!-- <a :href="website">Atom Live server</a> -->

    <!-- <a v-bind:href="website">Atom Live server</a>  -->

    <!-- <p v-html="websiteTag"></p> -->

    <!-- <input type="text" name="" v-bind:value="name" readonly> -->

    <!-- <input type="text" name="" value="ku"> -->
    <!-- ye value khud apni value attribute se add karega -->

    <!-- <h1>{{greet()}}</h1> -->

    <!-- <h1>{{greet('Night')}}</h1> -->

  <!-- </div> -->
  <!-- <script src="app.js"></script> -->
 </body>
 </html>
